*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;

}

.w50{
    width: 50%;
    padding: 0 10px;
}

.menu{
    text-align: right;
}
.letras{
    transition: all 0.5s;
    cursor: pointer;
}

.letras:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
section.banner{
    width: 100%;
    min-height: 500px;
    background-color: blueviolet;
    text-align: center;
    padding: 90px 0;
    color: chocolate;


}
section.diferenciais{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 0;
}

.w33{
    width: 33.3%;
    padding: 0 10px;

    transition: all .5s;
    border: 2px solid transparent;
}

.w33:hover{
    border: 2px solid #136497;
    border-block: 35%;
}

footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: yellowgreen;
}

@media screen and (max-width: 768px) {
    header{
        text-align: center;
    }
    .menu{text-align: center;}
    .w33,.w50{
        width: 100%;
        margin-bottom: 20px;
    }
}